# Copyright (c) 2024 EPAM Systems
# SPDX-License-Identifier: Apache-2.0

config XRUN
	bool "Enable XRUN support"
	select JSON_LIBRARY
	help
	  Enable xrun support which allows to run domains based on the runtime spec.

if XRUN

config XRUN_SHELL_CMDS
	bool "Enable XRUN shell commands"
	help
	  Enable set of XRUN shell commands to manage xrun library calls.

config XRUN_JSON_SIZE_MAX
	int "Maximum size of the json cni spec"
	default 8192
	help
	  Sets the maximum size of the cni spec json that could
	  be passed to xrun call.

config XRUN_MAX_PATH_SIZE
	int "Maximum length of file path to read from storage"
	default 255
	help
	  Sets the maximum path size that xrun can read from storage.
	  The default value is set to LFS_NAME_MAX which is default
	  for littlefs configuration.

config XRUN_DTDEVS_MAX
	int "Maximum numbers of the provided dtdevs"
	default 20
	help
	  Sets the maximum number of the dtdevs configuration
	  provided in the OCI spec.

config XRUN_IOMEMS_MAX
	int "Maximum numbers of the provided iomems"
	default 20
	help
	  Sets the maximum number of the iomems configuration
	  provided in the OCI spec.

config XRUN_IRQS_MAX
	int "Maximum numbers of the provided irqs"
	default 20
	help
	  Sets the maximum number of the irqs configuration
	  provided in the OCI spec.

config XRUN_STORAGE_DMA_DEBOUNCE
	int "Set debounce buffer for FS storage access in KB"
	default 4
	help
	  Sets debounce buffer for FS storage access in KB which is required to
	  enable DMA for storage devices. The xenlib may use DMA incompatible
	  buffers for reading guest domain kernel binaries using forging memory,
	  mapped in Dom0 address space. These buffers may not be contiguous and
	  phys/dma address can't be obtained for this buffers.
	  In such cases enables this option.

endif # XRUN
